

{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}


{% block title %}
News
{% endblock title %}


{% block content %}

    {{ category }}
    {% if is_not_subscriber %}
    <p class="text-center"><a href ="{% url 'subscribe' category.id %}" class = 'btn btn-secondary btn-sm'>Подписаться</a></p>
    <hr>

    {% endif %}



    {% if category_news_list %}

       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Дата</td>
               <td>Рейтинг</td>
           </tr>

           {% for new in category_news_list %}
           <tr>
               <td>{{ new.title|truncatewords:20|matrix }}</td>
               <td>{{ new.text|matrix }}</td>

               {% for nw in post.category.all %}
                    <td><a href="{% url 'category_list' category.id %}">{{ nw.category_type }}</a></td>
               {% endfor %}

               <td>{{ new.data }}</td>
               <td>{{ new.rank_of_news|currency:"like" }}</td>
               <td>

               {% if perms.news.change_post %}
                   <a href="{% url 'news_update' new.id %}" >Изменить</a>
               {% endif %}

               {% if perms.news.delete_post %}
                   <a href="{% url 'news_delete' new.id %}" >Удалить</a>
               {% endif %}
               </td>

           </tr>
           {% endfor %}


               {% if perms.news.delete_post %}

            <a href="{% url 'news_create' %}" >Опубликовать новость или статью</a>

           {% endif %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

      {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
