{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load cache %}

{% block title %}
Article
{% endblock title %}


{% block content %}
<h4>{{ article.data|date:'M d Y' }}</h4>
    <table>
        <tr>
            <td>{{ article.title|truncatewords:20|matrix }}</td>
        </tr>
        <tr>
            <td>{{ article.text|matrix }}</td>
        </tr>
        <tr>
            <td>{{ article.category_type }}</td>
        </tr>
        <tr>
            <td>{{ article.data }}</td>
        </tr>
        <tr>
            <td>{{ article.rank_of_news|currency:"like" }}</td>
        </tr>
    </table>


{% endblock content %}
