{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}
{% load cache %}
{% load custom_tags %}


{% block title %}
News
{% endblock title %}


{% block content %}
{% cache 6000 how_many_of_news %}
<h1 style="margin-left: 600px">Все новости({{ news|length }})</h1>
{% endcache %}
    <h3 style="font-size:20px">{{ time_now|date:'M d Y' }}</h3>
{% cache 60 find_news %}
    <form action="" method="get">

        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
{% endcache %}

    <h3> {{ next_news|default_if_none:"Новые новости появляются каждый день!" }}</h3>
    <hr>
    {% if news %}

       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Дата</td>
               <td>Рейтинг</td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.title|truncatewords:20|matrix }}</td>
               <td>{{ new.text|matrix }}</td>


               {% for nw in post.category.all %}
                    <td><a href="{% url 'category_list' category.id %}">{{ nw.category_type }}</a></td>
               {% endfor %}


               <td>{{ new.data }}</td>
               <td>{{ new.rank_of_news|currency:"like" }}</td>

               <td>
               {% if perms.news.change_post %}
                   <a href="{% url 'news_update' new.id %}" >Изменить</a>
               {% endif %}

               {% if perms.news.delete_post %}
                   <a href="{% url 'news_delete' new.id %}" >Удалить</a>
               {% endif %}
               </td>

           </tr>
           {% endfor %}


               {% if perms.news.delete_post %}

            <a href="{% url 'news_create' %}" >Опубликовать новость или статью</a>

           {% endif %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

      {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}

